body{
    cursor: url(assets/icons/default.svg),auto;
}
*{
    cursor: url(assets/icons/default.svg),auto;
}

.highlights, .navByte, .menuNav, .svg, .scroll, .left>div, .right>span, a{
    cursor: url(assets/icons/pointer.svg), auto !important;
}